*
{
    box-sizing: border-box;
    font-family: 'Roboto';
}
.container
{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogo 
{
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .jogo img
    {
        width: 400px;
        height: 466.67px;
    }

    .life
    {
        width: 400px;
        height: 470px;
    }
    .sidebar
    {
        width: 580px;
        height: 470px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding: 60px;
    }
        .sidebar button
        {
            background: #27AE60;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
            width: 200px;
            height: 60px;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
        }
        .word
        { 
            height: 100px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            text-transform: uppercase;
            justify-content: center;
            letter-spacing: 12px;
        }
        .word h1
        {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 44px;
            text-align: center;
        }
        .word h2
        {
            font-family: 'Noto Sans';
            font-weight: 700;
            font-size: 60px;
            line-height: 68px;
        }

.letters
{
    width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}
    .letter 
    {
        background-color: #E1ECF4;
        border: 1px solid #7AA7C7;
        color: #39739D;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 5.5px;
        margin-top: 5.5px;
        text-transform: uppercase;
        cursor: pointer;
    }

.guess
{
    width: 750px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
    .guess p
    {
        color: #000000;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
    }
    .guess input
    {
        border: 1px solid #CCCCCC;
        width: 353px;
        height: 40px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin: 15px;
    }
    .guess button
    {
        background-color: #E1ECF4;
        border: 1px solid #7AA7C7;
        color: #3C76A1;
        border-radius: 3px;
        width: 100px;
        height: 40px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

.green
{
    color: #27AE60;
}

.red 
{
    color: red;
}

.black
{
    color: #000000;
}

.none
{
    display: none;
}

:disabled
{
    background-color: #9FAAB5;
    color:#798A9F;
}

